---
---
@charset "utf-8";

// Our variables
//$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-family: 'Roboto Slab', serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$logo-yellow:      rgb(254, 222, 60);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;
$on-desktop:       1024px;
// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

//@import "foundation";
//@include foundation-everything;

.main-logo {
  background-image: url("/img/logo.png");
  height: 70px;
  width: 70px;
  background-size: 70px 70px;
}

body {
  background-image: url("/img/light.png");
  background-size: 80px 80px;
  font-family: $base-font-family;
  margin: 0;
  padding: 0;
  .content {
    margin: 3em auto 3em auto;
    padding: 2em;
    background-color: white;
  }
  line-height: 1.5;
}

.button {
  padding: .5em;
  background-color: #99ee99;
  border: none;
}

#top-nav-menu {
  display: flex;
  position: fixed;
  width: 800px;
  top: 0;
  left: 0;
  .menu {
    background: $logo-yellow;
    padding: 0 25px;
    display: flex;
    list-style: none;
    margin: 0;
    li {
      padding: 0 15px;
      >a {
        font-weight: bold;
        text-decoration: none;
        color: #222;
        display: block;
        font-size: 20px;
        padding: 20px 0px;
        height: 70px;
      }
    }
  }
}
* {
  box-sizing: border-box;
}

.top-bar-spacer {
  height: 60px;
}

@media (min-width: $on-laptop) {
  .content, .top-bar-content {
    width: $on-laptop;
  }
}

@media (min-width: $on-desktop) {
  .content, top-bar-content {
    width: $on-desktop;
  }
}

.top-content .top-text h1{
  margin-top: 0;
  line-height: 1;
}

@media (min-width: 800px) {
  .top-content {
    display: flex;
    .video {
      width: 400px;
      flex-shrink: 0;
      flex-grow: 0;
      margin-left: 2em;
      margin-top: 1em;
    }
    margin-bottom: 2em;

  }

  .flex-row {
    display: flex;
    .column {
      flex-grow: 1;
      flex-basis: 100px;
      padding: 10px;
    }
    .flex-row-image {
      width: 100%;
      padding: 10px;
      height: 260px;
    }
  }
}

.contact-us-button {
  font-size: 16px;
  padding: 1em;
  background-color: $logo-yellow;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}

.front-image {
  width: 400px;
  height: 300px;
  background-color: blue;
  clear: both;
  margin: 1em 2em;
  &.front-image-left {
    float: left;
    margin-left: 0;
  }

  &.front-image-right {
    float: right;
    margin-right: 0;
  }
}

.bullet-image-flex-row {
  display: flex;
  .flex-row-image {
    width: 400px;
    height: 300px;
    background-color: blue;
    flex-shrink: 0;
  }

  .flex-row-text {
    padding: 10px;
  }
}

// Philosophy

.bold-philosophy {
  font-weight: bold;
  font-style: italic;
}

