<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
  <div class="top-bar" id="top-nav-menu">
    <div class="main-logo"></div>
    <ul class="menu">
      <li><a href="/">MappsLab</a></li>
      <li><a href="/philosophy">Our Philosophy</a></li>
      <li><a href="/teacher-resources">Teacher Resources</a></li>
    </ul>
  </div>
  <div class="top-bar-spacer"></div>
  {{content}}
  <script src="/js/all.js"></script>
  </body>
</html>